:root {
  --primary-color: chartreuse;
  --text-color: #eee;
  --fundo-color: #444;
}

.task-container {
  background-color: var(--fundo-color);
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: var(--text-color);
  align-items: center;
}
.buttons-container{
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
.task-title {
  cursor: pointer;
}
.task-buttons {
  color: var(--primary-color);
  background-color: var(--fundo-color);
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin: 0 5px;
}
